body {
    font-family: 'Inter',  sans-serif; /* Семейство шрифтов */
    font-size: 14px; /* Размер основного шрифта в <p></p>  */
    background-color: #76fffa; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    animation: color-change 1s 1;
}
h2 {
    color: #00bbff; /* Цвет заголовка */
    font-size: 20px; /* Размер шрифта в пунктах */
}
 h1:hover { animation: color-change 3s infinite; }
 li {
  animation: color-change 3s infinite;
  @keyframes color-change {
    0% { color: #00a800; }
    30% { color: #ff0000; }
    100% { color: #1c00a8; }
}
 }

@keyframes color-change {
    0% { color: #00a800; }
    50% { color: #ff0000; }
    100% { color: #1c00a8; }
}
@keyframes font-resize {
    50% { font-size: 40px; }
    100% { font-size: 60px; }
}
